.header {
    width: 100%;
    border-bottom: $main-color 2px solid;
    box-shadow: $box-shadwo;
  
    nav {
      margin: auto;
      max-width: 1440px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      ul {
        list-style-type: none;
  
        li {
          cursor: pointer;
          padding: 4px 0;
  
          a {
            text-decoration: none;
            color: $main-color;
          }
  
          p 
          {
            font-size: 32px;
          }
  
          span {
            font-size: 48px;
            vertical-align: bottom;
          }
        }
      }
    }
  }